#Files to be ignored by git
.htaccess
.htpasswd
hrp-isc/
info/
robots.txt
wp-config.php
wp-content/advanced-cache.php
wp-content/cache/
wp-content/debug.log
wp-content/themes/isc-uw-child/
wp-content/uploads/
wp-content/wp-cache-config.php
