<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
    	<ini name="display_errors" value="true"/>
    </php>
	<testsuites>
		<testsuite name="Relevanssi">
			<directory prefix="test-" suffix=".php">./tests/</directory>
			<directory prefix="test-" suffix=".php">./premium-tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <directory suffix=".php">./premium</directory>
        </whitelist>
    </filter>
</phpunit>
