@charset "utf-8";

/*----------Rollover-----------*/

ul#navg {
    margin: 0 0.5em 1.5em 1.5em;
    clear: both;
    display: inline-block;
}
#navg div.mainNavLinkRight .text {
	display: none;
}
.text {
	background-image: url(../images/menu_right.png);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#navg div.mainNavLinkRight:hover .text {
	position: absolute;
	display: block;
	width: 466px;
	color: #000;
	margin-top: 0;
	z-index: 100000000;
}
.mainNavBG {
	background-image: url(../images/menu_shadow.png);
	background-repeat: no-repeat;
	background-position: 2px 0;
	overflow: hidden;
}
#header .mainNavBG ul {
	padding: 18px 0 10px 5px;
	margin: 0;
	width:185px;
}
#header .mainNavBG li {
	float: none;
	display: list-item;
	margin: 0 10px;
	list-style-type: none;
	background-image: none;
	line-height: 13px;
	padding: 2px 0;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
#header .mainNavBG li a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 98%;
	font-weight: normal;
	color: #5F5F5F;
	text-decoration: none;
    /*outline: none;*/
	padding: 2px 0 2px 8px;
	white-space: normal;
	display: block;
}
#header .mainNavBG li a:hover {
	color: #355EA2;
	outline: none;
	background-image: url(../images/arrow_small.gif);
	background-repeat: no-repeat;
	background-position: left;
	cursor: pointer;
}
#header a.more-link {
    background:url(../images/arrow_bullet.gif) right 4px no-repeat;
    padding-right:8px;
    font-weight:bold;
    display:inline-block;
}
.mainNavLinks {
	display: block;
	float: left;
}
.mainNavBlurb {
	border-left:1px solid #E7E6E6;
	float:right;
	margin:20px 0 0;
	padding:0 40px 0 25px;
	width:195px;
}
.mainNavBlurb img {
	margin-bottom: 10px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #DFDFDF;
}
.mainNavBlurb p {
	font-size:97%;
	font-weight:lighter;
	line-height:14px;
	margin-bottom:8px;
	margin-top:5px;
	padding-top:0;
}
.mainNavBlurb p b {
	padding-bottom:5px;
}

#header a.external-link {
	background:url(../images/arrow_bullet.gif) right 4px no-repeat;
	padding-right:8px;
	font-weight:bold;
	display:inline-block;
}
#header a.internal-link {
	background:url(../images/arrow_bullet.gif) right 4px no-repeat;;
	padding-right:8px;
	font-weight:bold;
	display:inline-block;
}

/*----------Make Full Header-----------*/

#header a.mainNavLinkNotch {
	color:#FFF;
	padding:0 10px 6px 8px;
	text-decoration:none;
	font-family:"Helvetica Neue",Arial,Helvetica,sans-serif;
}
#header h4 {
	letter-spacing:0;
	display:inline;
}
.mainNavLinkNotch:hover {
	cursor: pointer;
}
#header .mainNavLinkLeft:hover {
	background-image: url(../images/header_img/mainNav_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	border-left-color: transparent;	
}
#navg li:hover .mainNavLinkRight {
	background-image: url(../images/header_img/mainNav_right.gif);
	background-repeat: no-repeat;
	background-position: right top;	
	display:block;		
}
#navg li:hover .mainNavLinkNotch {
	background-image: url(../images/header_img/mainNav_notch.gif);
	background-repeat: no-repeat;
	background-position: center 14px;
	display:inline-block;
	color: #333;
	height: 21px;
}
#navg li:active .mainNavLinkNotch {
	color: #666;
}
#header {
    background-image: url(../images/default.jpg);
	height:125px;
	background-position: center top;
	background-repeat: no-repeat;
	width: 960px;
	margin: 0 auto;
	clear: none;
	padding-top: 17px;
}
#header li {
	float: left;
	display:inline;
	margin-left: 5px;
	padding-left: 0;
	list-style-type: none;
	background-image: url(../images/nav_left_bar.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.mainNavLinkRight {
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	outline:none;
	padding-top:2px;
}
.tagline {
	clear:both;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size:100%;
	padding: 20px 0;	
	margin: 0;
	color:#fff;
	float: right;
}
.tagline a {
	color: #FFF;
}
.taglineGold {
	color: #d7a900;
	background-color:inherit;
}

#header li.medicineLogo {
	background-image: none;
	margin-left: 60px;
}
.medicineLogo a {
	display: block;
	width: 105px;
	height: 13px;
	background-image: url(../images/medicine.gif);
	text-indent: -9999px;
	margin-top: 4px;
	background-repeat: no-repeat;
	overflow: hidden;
}
.medicineLogo a:hover {
	background-position: 0 -14px;	
}
#weather {
	background-image:url(../images/header_img/weatherShadow_thin.png);
	background-position:left top;
	background-repeat:no-repeat;
	color:#FFF;
	float:right;
	height:32px;
	padding-right:10px;
	width:122px;
	margin-left: 15px;
	position: absolute;
	right: 0;
}
#weather span {
	display: block;
	margin:-3px;
	padding:4px 0 0;
	text-align:center;
}
#weather .weather-city a {
	color: #fff;
}
#weather .weather-city a:hover {
	color: #ccc;
}
#weather div {
	float: right;
	padding: 5px 13px 0 0;
}
.weather-icon {
	float: left;
	padding:0 0 0 8px;
}
#uwLogo {
	display: block;
	width: 302px;
	height: 21px;
	float: left;
	background-image: url(../images/wlogo_lg.gif);
	background-repeat: no-repeat;
	padding: 3px 0 0 130px;
	background-position: right bottom;
}
#uwLogo a {
	text-indent: -9999px;
	overflow: hidden;
	display: block;
}

/*-- Patch --*/

.wheader .wlogoSmall {
	padding-left: 100px;
}
.wheader {
	background-position: 0 -150px;
}
.wheader .logoAbsolute {
	background-color: #D7A900;
}
.wheader li a {
	color: #333;
}
.wheader li a:hover {
	color: #000;
}
.logoAbsolute {
	position: absolute;
	height: 75px;
	width: 76px;
	background-color: #39275B;
	background-image: url(../images/header_img/w.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -85px;
}
.wlogoSmall {
	height: 25px;
	float: left;
}
.wlogoSmall a {
	display: block;
	text-indent: -1000px;
	overflow:hidden;
}
#wtext {
	height: 25px;
	float: right;
	padding-right: 147px;
}
.border {
	background-image: url(../images/header_img/leftbar.png);
	background-repeat: no-repeat;
	background-position: left center;	
	display: block;
	float: left;	
}

/*-- Search --*/

.wfield {
	background:url("../images/header_img/tfbg3_8.png") no-repeat scroll 0 0 transparent;
	float:left;
	height:21px;
	padding:2px 0 0 3px;
}
input.wTextInput {
	width: 142px;
	height: 17px;
	background: none;
	border: none;
	color: #777;
    margin: 0 0 0 5px;
	font-size: 88%;
}

/*-- Global Header --*/

.wheader {
	background-image: url(../images/header_img/bg.gif);
	background-repeat: repeat-x;
	height: 25px;
	padding: 0 0 0 20px;
}
.wheader ul{
	margin: 0;
}
.wheader li{
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 79%;
	font-weight: bold;
	white-space: nowrap;
}
.wheader li a {
	text-decoration: none;
	float: left;
	padding: 8px 6px 7px;
	white-space: nowrap;
	text-transform: uppercase;
}
.wheader li a:hover {
	background-image: url(../images/header_img/notch.gif);
	background-position: center top;
	background-repeat: no-repeat;
}

#wsearch {
	float:right;
	height:25px;
}
#wlogoLink {
	display: block;
	width: 74px;
	height: 74px;
}
.formbutton {
	background:url(../images/header_img/submit2_8.png) no-repeat left top;
	border:medium none;
	cursor:pointer;
	font-weight:bold;
	height:18px;
	margin:0;
	padding:0 0 0 2px;
	text-indent:-9999px;
	text-transform:capitalize;
	vertical-align:top;
	width:30px;
}
#autoMargin {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.margRight {
	margin-right: 20px;
}
